### Save and Retrive Data from Redis
- https://redis.com/

In [113]:
import numpy as np
import pandas as pd
import redis

In [114]:
# Connect to Redis Client
# redis-18692.c57.us-east-1-4.ec2.cloud.redislabs.com:18692
# wCneC8tYJRuw0ovU9Kacbr9kgY4UmQdb
hostname = 'redis-12084.c301.ap-south-1-1.ec2.cloud.redislabs.com'
portnumber = 12084
password = 'HnYyQx7B7hqPWS0OvE45nVAMm48xzkRd'

r = redis.StrictRedis(host=hostname,
                      port=portnumber,
                      password=password)

In [115]:
r.ping()

True

In [116]:
r.keys()

[b'mylist',
 b'MESSAGE',
 b'mykey1',
 b'academy:register',
 b'KEY',
 b'mystr',
 b'for']

#### Load the data (numpy zip)

In [117]:
np_file = np.load('dataframe_students_teacher.npz',allow_pickle=True)
x_values = np_file['arr_0']
col_names = np_file['arr_1']

df = pd.DataFrame(x_values,columns=col_names)
df

,Name,Role,Facial_Features
0,Aashutosh,Student,"[-0.036052156, -0.308354, 0.046328023, 1.67468..."
1,Angelina Jolie,Student,"[0.43222705, 1.0748217, -0.12857997, -1.833244..."
2,Ashish,Student,"[0.1670312, -1.149379, 0.41227043, 1.351386, 0..."
3,Barack Obama,Teacher,"[0.94860345, -0.5583488, 0.0948473, -1.2796339..."
4,Chris Evans,Student,"[0.72012293, -1.4683535, -0.7775747, -1.460268..."
5,Morgan Freeman,Teacher,"[0.4857933, -0.6193172, -0.4072945, 1.068671, ..."
6,Om,Student,"[1.7085426, -0.7759952, -0.22737093, -1.247895..."
7,Prashraya,Student,"[-0.8314713, -0.336633, 0.79281545, -0.1401238..."
8,Rajan,Student,"[-0.24466082, -1.858166, -1.2051669, 0.7937251..."
9,Rajesh,Student,"[0.76098776, -0.24004512, -1.8921047, -1.49513..."
10,Scarlett Johansson,Student,"[0.1913062, -0.48871636, -1.6904204, 0.4424574..."
11,Shashank,Student,"[1.7198377, -1.3376671, 0.065668054, 0.1987096..."
12,Shital,Student,"[0.20928195, 0.084583424, 0.3257966, -0.381223..."
13,Suraj,Student,"[0.8105346, -0.6660106, 1.5781848, 0.5816831, ..."

In [118]:
df['name_role'] = df['Name']+'@'+df['Role']
df

,Name,Role,Facial_Features,name_role
0,Aashutosh,Student,"[-0.036052156, -0.308354, 0.046328023, 1.67468...",Aashutosh@Student
1,Angelina Jolie,Student,"[0.43222705, 1.0748217, -0.12857997, -1.833244...",Angelina Jolie@Student
2,Ashish,Student,"[0.1670312, -1.149379, 0.41227043, 1.351386, 0...",Ashish@Student
3,Barack Obama,Teacher,"[0.94860345, -0.5583488, 0.0948473, -1.2796339...",Barack Obama@Teacher
4,Chris Evans,Student,"[0.72012293, -1.4683535, -0.7775747, -1.460268...",Chris Evans@Student
5,Morgan Freeman,Teacher,"[0.4857933, -0.6193172, -0.4072945, 1.068671, ...",Morgan Freeman@Teacher
6,Om,Student,"[1.7085426, -0.7759952, -0.22737093, -1.247895...",Om@Student
7,Prashraya,Student,"[-0.8314713, -0.336633, 0.79281545, -0.1401238...",Prashraya@Student
8,Rajan,Student,"[-0.24466082, -1.858166, -1.2051669, 0.7937251...",Rajan@Student
9,Rajesh,Student,"[0.76098776, -0.24004512, -1.8921047, -1.49513...",Rajesh@Student
10,Scarlett Johansson,Student,"[0.1913062, -0.48871636, -1.6904204, 0.4424574...",Scarlett Johansson@Student
11,Shashank,Student,"[1.7198377, -1.3376671, 0.065668054, 0.1987096...",Shashank@Student
12,Shital,Student,"[0.20928195, 0.084583424, 0.3257966, -0.381223...",Shital@Student
13,Suraj,Student,"[0.8105346, -0.6660106, 1.5781848, 0.5816831, ...",Suraj@Student

In [119]:
records = df[['name_role','Facial_Features']].to_dict(orient='records')
len(records)

14

## Save data in Redis
- redis hashes
- keyname = 'academy:register'

In [120]:
for record in records:
    name_role = record['name_role']
    vector = record['Facial_Features']
    
    # convert numpy array into bytes
    vector_bytes = vector.tobytes()
    
    # save data into redis cloud
    r.hset(name='academy:register',key=name_role,value=vector_bytes)

In [121]:
vector.dtype

dtype('float32')

### Retrive Records from Redis

In [122]:
retrive_dict = r.hgetall(name='academy:register')
retrive_series = pd.Series(retrive_dict)
retrive_series

b'Rajan@Student'                 b'^\x88z\xbeb\xd8\xed\xbf\xe9B\x9a\xbf\x911K?9...
b'Barack Obama@Teacher'          b'\xad\xd7r?\xf2\xef\x0e\xbfM?\xc2=\x0b\xcb\xa...
b'Angelina Jolie@Student'        b'\xddL\xdd>\xc2\x93\x89?x\xaa\x03\xbe\xbd\xa7...
b'Om@Student'                    b'\x86\xb1\xda?\x9f\xa7F\xbf\xed\xd3h\xbe\x06\...
b'Chris Evans@Student'           b'\xfaY8?\x02\xf3\xbb\xbf#\x0fG\xbf\x15\xea\xb...
b'Suraj@Student'                 b'2\x7fO?\xac\x7f*\xbf\xf6\x01\xca?/\xe9\x14?R...
b'Scarlett Johansson@Student'    b'\xc6\xe5C>\x089\xfa\xbe\xb2_\xd8\xbf\xc8\x89...
b'@'                                           b'\x00\x00\x00\x00\x00\x00\xf8\x7f'
b'Aashutosh@Student'             b'm\xab\x13\xbd\x93\xe0\x9d\xbet\xc2==\x15\\\x...
b'Shital@Student'                b'\x02NV>\x13:\xad=\xd0\xce\xa6>\xca/\xc3\xbeV...
b'Morgan Freeman@Teacher'        b'\xe6\xb9\xf8>\x92\x8b\x1e\xbf\xe8\x88\xd0\xb...
b'Shashank@Student'              b'\xa4#\xdc?\xad8\xab\xbf\xf9|\x86=\x8bzK>\x80...
b'Prashraya@Student'             b'N\xdbT\xbf)[\xac\xbe\xf4\xf5J?\x9f|\x0f\xbe1...
b'Ashish@Student'                b':\n+>\xda\x1e\x93\xbf\x1c\x15\xd3>7\xfa\xac?...
b'Rajesh@Student'                b'\x18\xd0B?c\xceu\xbe}0\xf2\xbf\xb0`\xbf\xbf\...
dtype: object

In [123]:
#np.frombuffer(retrive_series[b'Morgan Freeman@Teacher'],dtype=np.float32).shape
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x,dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))

In [124]:
retrive_series.index = index

In [125]:
retrive_df = retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role','facial_features']
retrive_df

,name_role,facial_features
0,Rajan@Student,"[-0.24466082, -1.858166, -1.2051669, 0.7937251..."
1,Barack Obama@Teacher,"[0.94860345, -0.5583488, 0.0948473, -1.2796339..."
2,Angelina Jolie@Student,"[0.43222705, 1.0748217, -0.12857997, -1.833244..."
3,Om@Student,"[1.7085426, -0.7759952, -0.22737093, -1.247895..."
4,Chris Evans@Student,"[0.72012293, -1.4683535, -0.7775747, -1.460268..."
5,Suraj@Student,"[0.8105346, -0.6660106, 1.5781848, 0.5816831, ..."
6,Scarlett Johansson@Student,"[0.1913062, -0.48871636, -1.6904204, 0.4424574..."
7,@,"[0.0, nan]"
8,Aashutosh@Student,"[-0.036052156, -0.308354, 0.046328023, 1.67468..."
9,Shital@Student,"[0.20928195, 0.084583424, 0.3257966, -0.381223..."
10,Morgan Freeman@Teacher,"[0.4857933, -0.6193172, -0.4072945, 1.068671, ..."
11,Shashank@Student,"[1.7198377, -1.3376671, 0.065668054, 0.1987096..."
12,Prashraya@Student,"[-0.8314713, -0.336633, 0.79281545, -0.1401238..."
13,Ashish@Student,"[0.1670312, -1.149379, 0.41227043, 1.351386, 0..."
14,Rajesh@Student,"[0.76098776, -0.24004512, -1.8921047, -1.49513..."

### Registration Form

In [126]:
import cv2
from insightface.app import FaceAnalysis

In [127]:
# configure face analysis
faceapp = FaceAnalysis(name='buffalo_sc',
                       root='insightface_model',
                       providers=['CPUExecutionProvider'])

faceapp.prepare(ctx_id=0, det_size=(640,640), det_thresh=0.5)
# warning: don't set det_thresh < 0.3

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model/models/buffalo_sc/det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model/models/buffalo_sc/w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

##### Step-1: Collect Person and Role

In [128]:
# python input
person_name = input('Enter your name: ')

trials = 3
for i in range(trials):
    role = input("""
    Please choose
    1. Student
    2. Teacher

    Enter number either 1 or 2
    """)
    
    if role in ('1','2'):
        if role == '1':
            role = 'Student'
        else:
            role = 'Teacher'
        
        break
    else:
        print('Invalid entry try again')
        if i == 3:
            print('Exceeds maximum trails')
            
key = person_name +'@'+ role
print('Your name = ', person_name)
print('Your role =', role)
print('Key =',key)

Invalid entry try again
Invalid entry try again
Invalid entry try again
Your name =
Your role =
Key = @

##### Step-2: Collect Samples

In [129]:
cap = cv2.VideoCapture(0) # 0 default camera, 1 external camera
face_embeddings = []
sample = 0
while True:
    ret, frame = cap.read()
    if ret == False:
        print('Unable to read camera')
        break
    
    # get results from insightface model
    results = faceapp.get(frame,max_num=1)
    for res in results:
        sample += 1
        x1, y1, x2, y2 = res['bbox'].astype(int)
        cv2.rectangle(frame, (x1,y1),(x2,y2),(0,255,0),1)
        
        # facial features
        embeddings = res['embedding']
        face_embeddings.append(embeddings)
        
    if sample >= 200: 
        break
    
    cv2.imshow('frame',frame)
    if cv2.waitKey(1) == ord('q'): # this is trigger only when I press letter q (lowercase q) in my keyboard
        break
        
cap.release()
cv2.destroyAllWindows()

Unable to read camera

In [130]:
len(face_embeddings)

0

##### Step-3: Optimize Data & Save in Redis Database

In [131]:
x_mean = np.asarray(face_embeddings).mean(axis=0)
x_mean.shape

/var/folders/27/fm42dqp13q36grh_574sxpjm0000gn/T/ipykernel_2479/2303644687.py:1: RuntimeWarning: Mean of empty slice.
  x_mean = np.asarray(face_embeddings).mean(axis=0)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/numpy/core/_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

()

In [132]:
# convert into bytes
x_mean_bytes = x_mean.tobytes()

In [133]:
# save key and facial bytes into redis database
r.hset(name='academy:register',key=key,value=x_mean_bytes)

0